:root {
    /*background-color: rgb(214, 98, 20); */
    background-color: green;
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }

/* Navigation bar */
.navbar-left, .navbar-right  {
  color: rgb(214, 98, 20);
  font-size: 40px;
  padding: 30px 10px 30px 10px;
  display: inline;
}

.navbar {
  background-color: seaGreen;
  position: fixed;
  top: 0;
  margin: 0% 10%;
  width: 80%;
  border-radius: 25px;
}

.navbar a.hover {   /* This isn't working, need to fix */
    color: rgb(214, 98, 20);
    background-color: green;
}

footer { /* add in button for email contact at bottom */
    color: paleGreen; /* why is this not making the font paleGreen? */
    background-color: seaGreen;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 25px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50%;
  }

  #footerP {
    padding-top: 28px;
    margin: 0px;
    border: 0px;
  }

h1 {
    color: rgb(214, 98, 20);
    font-size: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
  }

  h2 {
    color: rgb(214, 98, 20);
    font-size: 70px;
    padding: 10px;
  }

  h3 {
    color: indigo;
    font-size: 50px;
    padding: 10px;
  }
  
  p {
    color: rgb(214, 98, 20);
    font-size: 40px;
    /* padding-left: 20px;
    padding-right: 20px; */
  }

  .kia-ora-heading {
    margin: 0px;
  }

  .kereru-img, .shag-img, .takahe-img, .hihi-img {
    width: 1000px;
    padding-top: 110px;
    padding-bottom: 150px;
    border-bottom-style: solid;
    border-color: rgba(214, 98, 20);
    border-width: 10px;
    margin-bottom: 100px;
  }



  /* Cheat sheet page */ 
  .cheat-img {  
    float: left;
    width: 480px;
    height: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;                                          
    display: inline-block;
  }

  figcaption {
    color: rgb(214, 98, 20);
    font-size: 40px;
    padding: 10px;
  }
  
  .boxPadding-img, .colors-img {
    width: 50%;
  }
  thead {
    background-color: indigo;
    color: bisque;
  }

  tbody{
    font-family: 'Noto Sans', sans-serif;
  }
  
  table {
    border: solid;
    border-width: 5px;
    border-color: forestGreen;
    margin-left:auto; 
    margin-right:auto;
  }
    
  .tagLine {
    background-color: sandyBrown;
    font-family: 'Roboto Mono', monospace;
  }



  /* About me page */
  .freya-img {
    height: 500px; 
    width: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 50%;
    border-color: indigo;
    border-style: solid;
    border-width: 50px;
  }

  .aboutP {
    margin-left: 20%;
    margin-right: 20%;
    background-color: darkGreen;
  }