:root {
    /*background-color: rgb(214, 98, 20); */
    background-color: green;
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }


  /* For mobile phones: */
    html {
        font-size: 5px;
    }


  @media only screen and (min-width: 600px) { 
    /* For tablets: */
    html {
        font-size: 7px;
    }

  
  @media only screen and (min-width: 866px) {
    /* For desktop: */
    html {
        font-size: 10px;
    }
 






/* Navigation bar */
#navbar-left, #navbar-right  {
    color: rgb(214, 98, 20);
    padding: 10% 0.5em 10% 0.5em;
    display: inline;
}
/* navbar kia-ora-heading */
h4 { 
    display: block;
    margin: 0px;
    font-size: 1.5em;
    color: rgb(214, 98, 20);
    padding-left: 0.7em;
    padding-right: 0.7em;
    display: inline;
}

#navbar {
    background-color: seaGreen;
    position: fixed;
    font-size: 4em;
    top: 0;
    margin: 0% 5% 0% 5%;
    width: 90%;
    height: 2em;
    border-radius: 25px;
}

#navbar a:hover {  
    background-color: peachpuff;
    border-radius: 20%;
}

#navbar a:link {
    text-decoration: underline;
  }
  
#navbar a:visited {
    text-decoration: underline;
}

.navSpacer {
    margin-top: 8%;
}




.kereru-img, .shag-img, .takahe-img, .hihi-img {
    width: 80%;
    padding-top: 8%;
    padding-bottom: 10%;
    border-bottom-style: solid;
    border-color: rgba(214, 98, 20);
    border-width: 10px;
    margin-bottom: 10%;
    overflow: hidden;
  }




/* add in button for email contact at bottom */
footer { 
    color: paleGreen; /* why is this not making the font paleGreen? */
    background-color: seaGreen;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50%;
  }

  #footerP {
    padding-top: 3%;
    padding bottom: 3%;
    margin: 0px;
    border: 0px;
  }



  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

  


h1 {
    color: rgb(214, 98, 20);
    font-size: 10em;
    padding-left: 10%;
    padding-right: 10%;
    display: inline;
  }

  h2 {
    color: rgb(214, 98, 20);
    font-size: 7rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  h3 {
    color: indigo;
    font-size: 5rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  p {
    color: rgb(214, 98, 20);
    font-size: 4rem;
  }




.lists {
    color: indigo;
    font-size: 35px;
    list-style-position: inside;
    text-align: left;
    margin-left: 40px /*  Need to check this one */
  }

  .alignLeft {
    text-align: left;
    padding-left: 5%;
  }




/* Blog page */
.evenBlog {
    background-color: peachpuff;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5% 10% 5% 10%;
    font-size: 40px;
    color: rgb(214, 98, 20);
}

#evenBlogDate {
    color: rgb(190, 154, 154);
    font-size: 25px;
    font-style: italic;
}

.oddBlog {
    background-color: rgb(190, 154, 154);
    margin-left: 10%;
    margin-right: 10%;
    padding: 5% 10% 5% 10%;
    font-size: 40px;
    color: indigo;
    }

.oddBlog h1, .oddBlog h2{
    color: indigo;
}

#oddBlogDate {
    color: peachpuff;
    font-size: 25px;
    font-style: italic;
}

.evenBlog p, .oddBlog p {  /* this isn't working */
    color: rgba(214, 98, 20);
    }


.blogImg {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;
}

.blogImgLong {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;
}




  /* Cheat sheet page */ 
  /* Fix boxes, want then next to each other. */
  .cheat-img {  
    float: left;
    width: 480px;
    height: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;                                          
    display: inline-block;
  }

  figcaption {
    color: rgb(214, 98, 20);
    font-size: 40px;
    padding: 10px;
  }
  
  .boxPadding-img, .colors-img {
    width: 50%;
    overflow: hidden;
  }
  thead {
    background-color: indigo;
    color: bisque;
  }

  tbody{
    font-family: 'Noto Sans', sans-serif;
  }
  
  table {
    border: solid;
    border-width: 5px;
    border-color: forestGreen;
    margin-left:auto; 
    margin-right:auto;
  }
    
  .tagLine {
    background-color: sandyBrown;
    font-family: 'Roboto Mono', monospace;
  }





  /* About me page */
  .freya-img {
    width: 40%;
    margin: 0% 20% 10% 20%;
    border-radius: 50%;
    border-color: indigo;
    border-style: solid;
    border-width: 30px;
  }

  .greenBoxP {
    margin-left: 10%;
    margin-right: 10%;
    padding: 5% 5% 5% 5%;
    background-color: rgba(0, 100, 0, 0.514);
  }

  .dashedBorder {
    border-color: green;
    border-style: dashed;
    border-width: 10px;
  }