:root {
    /*background-color: rgb(214, 98, 20); */
    background-color: green;
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }



/* For desktop: */
html {
    font-size: 10px;
}







/* Navigation bar */
#navbar-left, #navbar-right  {
    color: rgb(214, 98, 20);
    padding: 10% 2% 10% 2%;
    display: inline;
}
/* navbar kia-ora-heading */
h4 { 
    display: block;
    margin: 0px;
    font-size: 1.5em;
    color: rgb(214, 98, 20);
    padding-left: 2%;
    padding-right: 2%;
    display: inline;
}

#navbar{
    background-color: seaGreen;
    position: fixed;
    font-size: 4rem;
    top: 0;
    margin: 0% 5% 0% 5%;
    width: 90%;
    height: 2em;
    border-radius: 25px;
}

#navbar a:hover {  
    background-color: peachpuff;
    border-radius: 20%;
}

#navbar a:link {
    text-decoration: underline;
  }
  
#navbar a:visited {
    text-decoration: underline;
}

.navSpacer {
    margin-top: 8%;
}

.dropdown {
    float: center;
    overflow: hidden;
    visibility: hidden;
}

.dropdown .dropbtn {
    background-color: seaGreen;
    color: rgb(214, 98, 20);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
    display: block;
    font-size: 5em;
    font-family: 'Amatic SC', cursive;
    border: none;
    outline: none;
}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(214, 98, 20);
    font-size: 3rem;
    min-width: 40%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 2.3em;
    margin-left: 30%;
    margin-right: 30%;

  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  


.kereru-img, .shag-img, .takahe-img, .hihi-img {
    width: 80%;
    padding-top: 12%;
    padding-bottom: 10%;
    border-bottom-style: solid;
    border-color: rgba(214, 98, 20);
    border-width: 10px;
    margin-bottom: 10%;
    overflow: hidden;
  }

  



/* add in button for email contact at bottom */
footer { 
    background-color: seaGreen;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 50%;
  }

  #footerP {
    padding-top: 3%;
    padding bottom: 3%;
    margin: 0px;
    border: 0px;
  }

  a:link {
    text-decoration: none;
    color: inherit;
  }

  a:visited {
    text-decoration: none;
  }

  






h1 {
    color: rgb(214, 98, 20);
    font-size: 9rem;
    padding-left: 10%;
    padding-right: 10%;
    display: inline;
  }

  h2 {
    color: rgb(214, 98, 20);
    font-size: 7rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  h3 {
    color: indigo;
    font-size: 5rem;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  p {
    color: rgb(214, 98, 20);
    font-size: 4rem;
  }

  span.orangeText a:link, span.orangeText a:visited {
    color: rgb(214, 98, 20);
  }

  .orangeText {
    color: rgb(214, 98, 20);
  }



  ul {
    font-size: 3.5rem;
    list-style-position: inside;
    text-align: left;
    margin-left: 5%;
  }

  .alignLeft {
    text-align: left;
    padding-left: 5%;
  }
  






/* Blog page */
.evenBlog {
    background-color: peachpuff;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5% 10% 5% 10%;
    font-size: 4rem;
    color: rgb(214, 98, 20);
}

#evenBlogDate {
    color: rgb(190, 154, 154);
    font-size: 2.5rem;
    font-style: italic;
}

.oddBlog {
    background-color: rgb(190, 154, 154);
    margin-left: 10%;
    margin-right: 10%;
    padding: 5% 10% 5% 10%;
    font-size: 4rem;
    color: indigo;
    }

.oddBlog h1, .oddBlog h2{
    color: indigo;
}

#oddBlogDate {
    color: peachpuff;
    font-size: 2.5rem;
    font-style: italic;
}

.evenBlog p, .oddBlog p {  /* this isn't working */
    color: rgba(214, 98, 20);
    }


.blogImg {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;
}

.blogImgLong {
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: hidden;
}




  /* Cheat sheet page */ 
  /* Fix boxes, want then next to each other. */
  .cheat-img {  
    float: left;
    width: 480px;
    height: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;                                          
    display: inline-block;
  }

  figcaption {
    color: rgb(214, 98, 20);
    font-size: 4rem;
    padding: 2%;
  }
  
  .boxPadding-img, .colors-img {
    width: 50%;
    overflow: hidden;
  }
  thead {
    background-color: indigo;
    color: bisque;
  }

  tbody{
    font-family: 'Noto Sans', sans-serif;
  }
  
  table {
    border: solid;
    border-width: 5px;
    border-color: forestGreen;
    margin-left:auto; 
    margin-right:auto;
  }
    
  .tagLine {
    background-color: sandyBrown;
    font-family: 'Roboto Mono', monospace;
  }





  /* About me page */
  .freya-img {
    width: 40%;
    margin: 0% 20% 10% 20%;
    border-radius: 50%;
    border-color: indigo;
    border-style: solid;
    border-width: 30px;
  }

  .greenBoxP {
    margin-left: 10%;
    margin-right: 10%;
    padding: 5% 5% 5% 5%;
    background-color: rgba(0, 100, 0, 0.514);
  }

  .dashedBorder {
    border-color: green;
    border-style: dashed;
    border-width: 10px;
  }








  

@media only screen and (max-width: 425px) { 
/* For mobile phones: */
    html {
        font-size: 5px;
    }

    #navbar {
        visibility: hidden;
    }
    .dropdown {
    visibility: visible;
    }

    .topnav a.icon {
    float: right;
    display: block;
    }

.freya-img {
    width: 70%;
    margin: 0% 5% 10% 5%;
    border-width: 10px;
    } 
}





@media only screen and (max-width: 768px) { 
    /* For tablets: */
    html {
        font-size: 7px;
    }

.topnav.responsive {position: relative;}
.topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative;}
.topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
}
}
  