:root {
    /*background-color: rgb(214, 98, 20); */
    background-color: green;
    font-family: 'Amatic SC', cursive;
    text-align: center;
  }

/* Navigation bar */
.navbar-left, .navbar-right  {
  color: rgb(214, 98, 20);
  font-size: 40px;
  padding: 30px 10px 30px 10px;
  display: inline;
}

.navbar {
  background-color: seaGreen;
  position: fixed;
  top: 0;
  margin: 0% 10%;
  width: 80%;
  border-radius: 25px;
}

.navbar a.hover {
 color: rgb(214, 98, 20);
 background-color: green;
}

h1 {
    color: rgb(214, 98, 20);
    font-size: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
  }

  h2 {
    color: rgb(214, 98, 20);
    font-size: 70px;
    padding: 10px;
  }

  h3 {
    color: indigo;
    font-size: 50px;
    padding: 10px;
  }
  
  p {
    color: rgb(214, 98, 20);
    font-size: 40px;
    /* padding-left: 20px;
    padding-right: 20px; */
  }

  footer {
    color: paleGreen;
    background-color: darkGreen;
    padding: 25px;
    margin: 80px 20px;
  }

  .kia-ora-heading {
    margin: 0px;
  }

  .kereru-img, .shag-img {
    width: 1000px;
    padding-top: 120px;
    padding-bottom: 150px;
    border-bottom-style: solid;
    border-color: rgba(214, 98, 20);
    border-width: 10px;
    margin-bottom: 100px;
  }

  .cheat-img {  
    float: left;
    width: 480px;
    height: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;                                          
    display: inline-block;
  }

  figcaption {
    color: rgb(214, 98, 20);
    font-size: 40px;
    padding: 10px;
  }
  
  /* Cheat sheet page */ 
  .boxPadding-img, .colors-img {
    width: 50%;
  }
  thead {
    background-color: indigo;
    color: bisque;
  }

  tbody{
    font-family: 'Noto Sans', sans-serif;
  }
  
  table {
    border: solid;
    border-width: 5px;
    border-color: forestGreen;
    margin-left:auto; 
    margin-right:auto;
  }
    
  .tagLine {
    background-color: sandyBrown;
    font-family: 'Roboto Mono', monospace;
  }