h1 {
    color: forestGreen;
  }
  
  h2 {
    color: indigo;
  }
  
  thead {
    background-color: indigo;
    color: bisque;
  }
  
  table {
    border: solid;
    border-width: 5px;
    border-color: forestGreen;
    margin-left:auto; 
    margin-right:auto;
  }
  
  .tagLine {
    background-color: sandyBrown;
    font-family: 'Roboto Mono', monospace;
  }